:root {
    --fc-button-text-color: black;
    --fc-button-bg-color: transparent;
    --fc-page-bg-color: white;
    --fc-today-bg-color: white;
    --fc-button-hover-bg-color: transparent;
    --fc-button-hover-border-color: transparent;
    --fc-button-active-bg-color: transparent;
    --fc-button-active-border-color: transparent;
}

.fc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

th.fc-timegrid-axis {
    display: none!important;
}

/* this syntax fixes the height of the toolbar in the calendar display */
.fc .fc-toolbar.fc-header-toolbar {
    display: none;
}

.fc .fc-scrollgrid-section-header {
    display: none;
}

.fc-col-header-cell {
    display: none;
}

.fc .fc-scrollgrid-liquid {
    border: none;
}

.fc .fc-scroller {
    overflow: scroll!important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

.fc table {
    white-space: normal !important;
    border: none;
}

.fc tr {
    border: none;
}

/* disable t_head prevents it from showing what day it is above the calendar */
.fc th {
    border: none !important;
    border-width: 0 !important;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.fc .fc-timegrid-slot-minor {
    border: none;
}

.fc .fc-state-highlight {
    opacity: 0;
    border: none;
}

/* Styling for each event from Schedule */
.fc .fc-time-grid-event.fc-v-event.fc-event {
    border: none;
    opacity: .65;
    left: 5% !important;
    right: 5% !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
    border-style: 0 1 0 1 !important;
    border-width: 1px !important;
    padding: 0 !important;
    vertical-align: top !important;
}

/* Inherits background for each event from Schedule. */
.fc .fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: .25 !important;
}

/* Apply same opacity to all day events */
.fc .fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc .fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

.fc .fc-button-primary {
    border-color: transparent;
    box-shadow: none !important;
}

.fc .fc-state-default {
    box-shadow: None;
}
